input {
  text-align: center;
}

.title {
  width: 20%;
  margin: 0 auto;
  font-size: 40px;
}
.top-buttons {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin: 0 auto;
}
.sequencer-wrapper {
  display: flex;
  flex-direction: row;
}
.input-row {
  display: flex;
  flex-direction: row;
  height: 110px;
  width: 100px;
}
.save-state-entry {
  display: flex;
  flex-direction: row;
}
.save-list-container {
  display: flex;
  flex-direction: column;
}