.box {
  width: 6rem;
  height: 6rem;
  border-radius: 1.5rem;
  transition: box-shadow 0.3s;
}
.box:hover {
  box-shadow: 0 0 1rem 0.5rem #5ED4F3;
}
.inset {
  background-color: #cfc7c1;
  border-radius: 1.5rem;
  box-shadow: inset 0.125rem 0.125rem 0.313rem #9A938C, 0.063rem 0.063rem 0.313rem #FFFFFF;
}
.clicked {
  background-color: #5ED4F3;
}
.active {
  box-shadow: 0 0 1rem 0.5rem #3cff4c;
}