.box {
  border-style: solid;
  border-color: #EFEFEF;
  width: 100px;
  height: 100px;
  transition: box-shadow 0.3s;
}
.box:hover {
  box-shadow: 0 0 30px #5ED4F3;
}
.clicked {
  background-color: #5ED4F3;
}
.active {
  box-shadow: 0 0 50px #81f35e;
}