.title {
  color: #282C34;
  font-size: 1rem;
}
.top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item {
  width: 10rem;
}
.sequencer {
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #e6e3df;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.icon {
  color: #1A76D2;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
.icon:hover {
  background-color: #c3d5e9;
}