.title {
  font-size: 2rem;
}
.top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 0;
}
.sequencer {
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #e6e3df;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}